{% extends "base_index.html" %}

{% block body %}

<div id="page-wrapper-index">
    <div class="sidebar-search">
            <form class="search-repo" action="{% url 'getContributors' %}" method="POST">
				{% csrf_token %}
                <input name="repository" type="search" class="form-control" placeholder="Busque um Repositório...">
                <span class="input-group-btn">
                <button class="btn btn-default" type="submit">
                    <i class="fa fa-search"></i>
                </button>
                </span>
            </form>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="container-index">
                    <center><img class="img-logo" src="../static/images/logo/logo_cardinals_dark.png" ></center>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
