{% extends "base_index.html" %}

{% block body %}

<div id="page-wrapper-index">
    <div class="sidebar-search">
        <div class="input-group custom-search-form">
            <input type="search" class="form-control" placeholder="Busque um Repositório...">
            <span class="input-group-btn">
            <button class="btn btn-default" type="button">
                <i class="fa fa-search"></i>
            </button>
            </span>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="container-index">
                    <center><img class="img-logo" src="../static/images/logo/logo_cardinals_dark.png" ></center>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
