{% extends "base_user.html" %}

{% block body %}
<div id="page-wrapper-index">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <label>Defina os seguintes pesos</label>
                <form action="{% url 'getResult' repo_id %}" method="POST">
                    {% csrf_token %}
                    <table>
                        <tr>
                            <td><label for="weight_commit">Commits: </label></td>
                            <td><input type="number" value="1" min="0" max="10" name="weight_commit"></td>
                        </tr>
                        <tr>
                            <td><label for="weight_line_code">Linhas de Código: </label></td>
                            <td><input type="number" value="1" min="0" max="10" name="weight_line_code"></td>     
                        </tr>
                        <tr>
                            <td><label for="weight_issues_created">Issues Criadas: </label></td>
                            <td><input type="number" value="1" min="0" max="10" name="weight_issues_created"></td>
                        </tr>
                        <tr>
                            <td><label for="weight_issues_closed">Issues Fechadas: </label></td>
                            <td><input type="number" value="1" min="0" max="10" name="weight_issues_closed"></td>
                        </tr>
                    </table>
                    <button class="btn btn-danger" type="submit">Ranquear</button>
                </form>
                <h2>Ranking Commiters</h2>
                {% for rc in ranking_commiters %}
                    <li>{{rc.name}} | score: {{rc.score}} </li>
                {% endfor %}    
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block renderingDocs %}
    {% with repo_id=repo_id %}
    <a class="bg-red" href="{% url 'renderingDocs' repo_id %}"><i class="fa fa-file-o"></i> Documentos</a>
    {% endwith %}
{% endblock %}

{% block getResult %}
    {% with repo_id=repo_id %}
    <a class="bg-red" href="{% url 'getResult' repo_id %}"><i class="fa fa-trophy"></i> Ranking Commiters</a>
    {% endwith %}
{% endblock %}

{% block pdfView %}
    {% with repo_id=repo_id %}
    <a class="bg-red" href="{% url 'pdfView' repo_id %}"><i class="fa fa-file-o"></i> Relatório</a>
    {% endwith %}
{% endblock %}