{% extends "base_index.html" %}

{% block body %}
<div id="page-wrapper-index">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div>
                    <h2>Ranking Commiters</h2>
                    {% for rc in rankingCommiters %}
                        <li>{{rc.name}} | commits: {{rc.commits}} | issues criadas: {{rc.issues_created}}</li>
                    {% endfor %}    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}