## jekyll 
_site/*
Gemfile*

## DJango
__pycache__/
*/__pycache__/
*.pyc
*/migrations/

*/__pycache__/
*/*/__pycache__/
*/*.pyc
*/*/migrations/

## Coverage
htmlcov/
.coverage
coverage.xml

## Mkdocs
site/

## SQLite
db.sqlite3
*/db.sqlite3
*/*/db.sqlite3

## VSCODE
.vscode/
#Docker

#Pycharm
.idea/

# WARNING: .env file contains sensitive information, keep it on .gitignore.
.env

**secrets.py

##
static/images/charts/*
