## jekyll 
_site/*
Gemfile*

## DJango
__pycache__/
*/__pycache__/
dev/__pycache__/
pygithub_api_integration/__pycache__
index/__pycache__/
cardinals/__pycache__/
dev/migrations/__pycache__/
pygithub_api_integration/migrations/__pycache__/
index/migrations/__pycache__/
*.pyc

## Coverage
htmlcov/
*.coverage

## Mkdocs
site/
