## jekyll 
_site/*
Gemfile*

## DJango
__pycache__/
*/__pycache__/
dev/__pycache__/
pygithub_api_integration/__pycache__/
falko/__pycache__/
dev/migrations/__pycache__/
pygithub_api_integration/migrations/__pycache__/
*.pyc

## Coverage
htmlcov/
*.coverage

## Mkdocs
site/

#Docker
# WARNING: .env file contains sensitive information, keep it on .gitignore.
.env
