sudo: required

language: python
python:
  - "3.6"

jobs:
  include:

    - stage: static analysis
      services:
      - docker
      env:
        COMPOSE_VERSION: 1.19.0
      install: skip
      before_script:
      - curl -L https://github.com/docker/compose/releases/download/${COMPOSE_VERSION}/docker-compose-`uname
        -s`-`uname -m` > docker-compose
      - chmod +x docker-compose
      - sudo mv docker-compose /usr/local/bin
      - sudo docker-compose -f docker-compose.test.yml build
      - sudo docker-compose -f docker-compose.test.yml run -d db
      script:
      - sudo docker-compose -f docker-compose.test.yml run web ./run_analysis.sh

    - stage: unit tests
      services:
      - docker
      env:
        COMPOSE_VERSION: 1.19.0
      install: skip
      before_script:
      - curl -L https://github.com/docker/compose/releases/download/${COMPOSE_VERSION}/docker-compose-`uname
        -s`-`uname -m` > docker-compose
      - chmod +x docker-compose
      - sudo mv docker-compose /usr/local/bin
      - echo -e "USERNAME=$CREDENTIAL_USERNAME\nPASSWORD=$CREDENTIAL_PASSWORD" >> .env
      - sudo docker-compose -f docker-compose.test.yml build
      - sudo docker-compose -f docker-compose.test.yml run -d db
      script:
      - sudo docker-compose -f docker-compose.test.yml run --rm sut

    - stage: deploy to staging
      install: skip
      script: skip
      deploy:
        provider: heroku
        api_key:
          secure: $HEROKU_AUTH_TOKEN
        app: cardinalsbeta
        on:
          repo: fga-gpp-mds/2018.1-Cardinals
          branch: develop

    - stage: deploy to production
      install: skip
      script: skip
      deploy:
        provider: heroku
        api_key:
          secure: $HEROKU_AUTH_TOKEN
        app: cardinals
        on:
          repo: fga-gpp-mds/2018.1-Cardinals
          branch: master
