sudo: required

language: python
python:
  - "3.6"

jobs:
  include:

    - stage: static analysis
      install: pip install flake8
      script:
      - flake8 --exit-zero .

    - stage: unit tests
      services:
      - docker
      env:
        COMPOSE_VERSION: 1.19.0
      install: skip
      before_script:
      - curl -L https://github.com/docker/compose/releases/download/${COMPOSE_VERSION}/docker-compose-`uname
        -s`-`uname -m` > docker-compose
      - chmod +x docker-compose
      - sudo mv docker-compose /usr/local/bin
      - echo -e "USERNAME=$CREDENTIAL_USERNAME\nPASSWORD=$CREDENTIAL_PASSWORD\nSECRET_KEY=$SECRET_KEY\nSOCIAL_AUTH_GITHUB_KEY=$SOCIAL_AUTH_GITHUB_KEY\nSOCIAL_AUTH_GITHUB_SECRET=$SOCIAL_AUTH_GITHUB_SECRET" >> .env
      script:
      - sudo docker-compose -f docker-compose.test.yml run --rm web
      after_script:
      - sudo docker-compose down

    - stage: deploy to staging
      install: skip
      script: skip
      deploy:
        provider: heroku
        api_key:
          secure: $HEROKU_AUTH_TOKEN
        app: cardinalsbeta
        on:
          repo: fga-gpp-mds/2018.1-Cardinals
          branch: config_env

    - stage: deploy to production
      install: skip
      script: skip
      deploy:
        provider: heroku
        api_key:
          secure: $HEROKU_AUTH_TOKEN
        app: cardinals
        on:
          repo: fga-gpp-mds/2018.1-Cardinals
          branch: master
