{% extends "base_index.html" %}

{% block body %}
<div id="page-wrapper-index">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="container-index">
                    <h1>Repositório {{repo.name}}</h1>
                    <div>
                        <h2>Contribuidores</h2>
                        {% for c in contributors %}
                        <li>{{c.name}} : {{c.login}}</li>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}