{% extends "base_user.html" %}

{% block body %}
<div id="page-wrapper-index">
        <div class="container">
            <div class="page-header">
                <h1>Issues</h1>
            </div>
            <div class="row">
                <div clgitass="col-lg-12">
                    <div style="border: 1px solid #D8D7CC;border-radius: 5px; padding: 5px; margin-top: 4px">
                        <form class="search-repo form-inline" action="{% url 'getResultIssues' %}" method="GET">
                                {% csrf_token %}
                                <div class="col-12">
                                    <div class="form-group">
                                        <div>
                                            <label for="dataInicio">Data de criação das issues</label>
                                            <input type="date" name="dataInicio">
                                        </div>
                                    </div>
        
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="states" id="open" value="open">
                                            Abertas
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="states" id="closed" value="closed">
                                            Fechadas
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="states" id="closed" value="all" checked>
                                            Todas
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-danger" type="submit">
                                            Pesquisar <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                    </div>
                    <p>{{data}}</p>
                    <table class="table table-dark">
                        <thead>
                            <tr>
                                <th scope="col">Nome Issue</th>
                                <th scope="col">Data de Criação</th>
                                <th scope="col">Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in issues %}
                            <tr>
                                <td>{{i.title}}</td>
                                <td>{{i.created_at.date}}</td>
                                <td>{{i.state}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
