{% extends "base_user.html" %}

{% block body %}
<div id="page-wrapper-index">
        <div class="container">
            <div class="row">
                <div clgitass="col-lg-12">
                    <form class="search-repo form-horizontal" action="{% url 'getResultIssues' %}" method="GET">
                        {% csrf_token %}
                        <div class="col-12">
                            <button class="btn btn-default" type="submit">
                                <i class="fa"></i>
                            </button>
                            <button class="btn btn-default" type="submit">
                                <i class="fa"></i>
                            </button>
                            <button class="btn btn-default" type="submit">
                                <i class="fa"></i>
                            </button>
                        </div>
                    </form>
                    <p>{{status}}</p>
                    <table class="table table-dark">
                        <thead>
                            <tr>
                                <th scope="col">Nome Issue</th>
                                <th scope="col">Data de Criação</th>
                                <th scope="col">Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in issues %}
                            <tr>
                                <td>{{i.title}}</td>
                                <td>{{i.created_at}}</td>
                                <td>{{i.state}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
