html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #4f5f6f;
  overflow-x: hidden; }

.main-wrapper {
  width: 100%;
  position: absolute;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden; }

  .app {
    position: relative;
    width: 100%;
    padding-left: 240px;
    min-height: 100vh;
    margin: 0 auto;
    left: 0;
    background-color: #f0f3f6;
    -webkit-box-shadow: 0 0 3px #ccc;
            box-shadow: 0 0 3px #ccc;
    -webkit-transition: left 0.3s ease, padding-left 0.3s ease;
    transition: left 0.3s ease, padding-left 0.3s ease;
    overflow: hidden; }
    .app .content {
      padding: 95px 20px 75px 20px;
      min-height: 100vh; }
      @media (min-width: 1200px) {
        .app .content {
          padding: 105px 40px 85px 40px; } }
      @media (min-width: 992px) and (max-width: 1199.98px) {
        .app .content {
          padding: 100px 35px 80px 35px; } }
      @media (min-width: 768px) and (max-width: 991.98px) {
        .app .content {
          padding: 95px 20px 75px 20px; } }
      @media (max-width: 767.98px) {
        .app .content {
          padding: 70px 20px 70px 20px; } }
    @media (max-width: 991.98px) {
      .app {
        padding-left: 0; } }
    @media (max-width: 991.98px) {
      .app.sidebar-open {
        left: 0; } }
    .app.blank {
      background-color: #667380; }

.btn.btn-primary {
  color: #D8D7CC;
  background-color: #3C3542;
  border-color: #483F4F;
}
.btn.btn-primary:hover {
  color: #D8D7CC;
  background-color: #483F4F;
  border-color: #483F4F;
}
.btn.btn-primary:focus, .btn.btn-primary.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(130, 114, 142, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(130, 114, 142, 0.5);
}
.btn.btn-primary.disabled, .btn.btn-primary:disabled {
  color: #1C191F;
  background-color: #3C3542;
  border-color: #3C3542;
}
.btn.btn-primary:not(:disabled):not(.disabled):active, .btn.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn.btn-primary.dropdown-toggle {
  color: #D8D7CC;
  background-color: #483F4F;
  border-color: #483F4F;
}
.btn.btn-primary:not(:disabled):not(.disabled):active:focus, .btn.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn.btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(130, 114, 142, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(130, 114, 142, 0.5); 
}
.btn.btn-primary, .btn.btn-primary:hover {
  color: #D8D7CC;
}

.header-block-search .input-container {
  position: relative;
  color: #D8D7CC;
}
.header-block-search .input-container i {
  position: absolute;
  pointer-events: none;
  display: block;
  height: 40px;
  line-height: 40px;
  right: 10px;
}
.header-block-search .input-container input {
  background-color: #4C4454;
  border: transparent;
  border-radius: 7px;
  padding-left: 25px;
  height: 40px;
  width: 70rem;
  max-width: 500px;
}
.header-block-search .input-container input:focus + .underline {
  -webkit-transform: scaleX(1);
  transform: scaleX(1); 
}

.sidebar {
  background-color:#3C3542 !important;
  width: 240px;
  padding-bottom: 60px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  z-index: 20; }
  @media (max-width: 991.98px) {
    .sidebar {
      position: fixed;
      left: -240px; } }
  .sidebar-fixed .sidebar {
    position: fixed; }
  .sidebar-open .sidebar {
    left: 0; }
  .sidebar .sidebar-container {
    position: absolute;
    top: 0;
    bottom: 51px;
    width: 100%;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden; }
    .sidebar .sidebar-container::-webkit-scrollbar-track {
      background-color: #3C3542; }
  .sidebar .label {
    font-size: .75em;
    display: inline-block;
    border-radius: .2em;
    padding: 2px 5px;
    background-color: #ccc;
    color: #000;
    margin: 0 3px; }
  .sidebar .label-screenful {
    color: #fff;
    background-color: #6769d4; }
  .sidebar .sidebar-menu {
    font-size: 14px;
    list-style: none;
    margin: 0;
    padding: 0; }
    .sidebar .sidebar-menu li a:focus,
    .open .sidebar .sidebar-menu li a:focus {
      background-color: inherit; }
    .sidebar .sidebar-menu ul {
      padding: 0;
      height: 0px;
      overflow: hidden; }
      .loaded .sidebar .sidebar-menu ul {
        height: auto; }
    .sidebar .sidebar-menu li.active ul {
      height: auto; }
    .sidebar .sidebar-menu li a {
      color: rgba(255, 255, 255, 0.5);
      text-decoration: none;
      display: block; }
    .sidebar .sidebar-menu li a:hover,
    .sidebar .sidebar-menu li.open > a,
    .sidebar .sidebar-menu li.open a:hover {
      color: #ffffff;
      background-color: #3C3542; }
    .sidebar .sidebar-menu .arrow {
      float: right;
      font-size: 18px;
      line-height: initial;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      margin-right: 0; }
      .sidebar .sidebar-menu .arrow:before {
        content: "\f105" !important; }
    .sidebar .sidebar-menu li.open > a .arrow {
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg); }
    .sidebar .sidebar-menu > li > a {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 20px;
      padding-right: 15px; }
    .sidebar .sidebar-menu > li.active > a,
    .sidebar .sidebar-menu > li.active > a:hover {
      background-color: #FF6161 !important;
      color: #ffffff !important; }
    .sidebar .sidebar-menu > li.open > a {
      background-color: #333e48; }
    .sidebar .sidebar-menu > li > a i {
      margin-right: 5px;
      font-size: 16px; }
      .sidebar .sidebar-menu > li > a i.arrow {
        font-size: 20px; }
    .sidebar .sidebar-menu > li > .sidebar-nav > li a {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 50px;
      padding-right: 15px;
      background-color: #333e48; }
    .sidebar .sidebar-menu > li > .sidebar-nav > li.active a {
      color: #ffffff; }
    .sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li a {
      padding-left: 60px;
      padding-right: 15px; }
    .sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li a {
      padding-left: 70px; }

.bg-color{
  background-color: #3C3542 !important;
}

.bg-red{
  color: #D8D7CC !important;
}

nav a, nav a:hover{
  color: #D8D7CC;
}

.caixa{
  border: 1px solid #D8D7CC !important;
}

.card-block{
  padding-bottom: 100px;
  padding-left: 80px;
  padding-right: 80px;
}

footer{
  height: 50px;
}
