{% extends "base_user.html" %}

{% block title %} Pull Request {% endblock %}

{% block head %}
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.16.min.css" type="text/css" />
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.16.min.js"></script>
    <script type="text/javascript">
        Bokeh.set_log_level("info");
    </script>
{% endblock %}

{% block body %}

    <p><h3>{{repository}}</h3></p>

    {{ div | safe }}
    {{ script | safe }}

    <br>
    <div class="col-md-12">
        <div class="card">
            <div class="card-block">
                <div class="text-block">
                    <p>Este gráfico possui a visualização da quantidade de Pull Requests (eixo-x) que ficaram abertos dentro de um período de dias (eixo-y).</p> 
                    <p>Dentro de cada projeto, a prática ideal é limitar o tempo de abertura e fechamento de cada Pull Request ao tempo de duração de cada Sprint.</p>
                    <p>Assim, se o projeto possui um período de Sprint de uma semana, os indícios de práticas ágeis se fazem presentes caso o tempo de duração não ultrapasse 7 dias no gráfico acima.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
