<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Develops</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>
                Desenvolvedores
            </th>
            <th>
                E-mail
            </th>
        </tr>
        <tr>
            <td>
                Lorrany Azevedo
            </td>
            <td>
                lorrany90@gmail.com
            </td>
        </tr>
        <tr>
                <td>
                    Mateus Augusto
                </td>
                <td>
                    mateusaugusto-2009@hotmail.com
                </td>
            </tr>
                <tr>
                    <td>
                    Matheus Gomes
                    </td>
                    <td>
                    matheusgomesf01@gmail.com
                    </td>
                </tr>
            <tr>
                <td>
                    Gustavo Duarte Moreira
                </td>
                <td>
                    gustavoduartemoreira@gmail.com
                </td>
            </tr>
            <tr>
                    <td>
                    João Pedro
                    </td>
                    <td>
                    connorclone201@gmail.com
                    </td>
                </tr>
    </table>
</body>
</html>