<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <h1>
            Cardinals
        </h1>
    </head>
    <p>
        A plataforma Cardinals foi desenvolvida para ajudar no gerenciamento
        de projetos que usam o GitHub como ferramenta de controle de versão. Esta
        para qualquer pessoa que queira ter um melhor acompanhamento
        de um projeto, porém tem seu foco voltado para gestores que buscam melhorar 
        o andamento do projeto e o processo ágil.
    </p>    
</html>

