{% extends "base_user.html" %}

{% block title %} Time Issue {% endblock %}

{% block head %}
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.16.min.css" type="text/css" />
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.16.min.js"></script>
    <script type="text/javascript">
        Bokeh.set_log_level("info");
    </script>
{% endblock %}

{% block body %}

    <p><h3>{{repository}}</h3></p>

    {{ div | safe }}
    {{ script | safe }}

    <br>
    <div class="col-md-12">
        <div class="card">
            <div class="card-block">
                <p>Neste gráfico pode-se visualizar a quantidade de issues (eixo-x) que ficaram abertas dentro de um período de dias (eixo-y).</p> 
                <p>Dentro de cada projeto, o ideal, é que as issues fiquem abertas dentro do período limite de uma Sprint.</p>
                <p>Ou seja, se num projeto em que o período da Sprint for de uma semana, o ideal para que o repositório do projeto tenha indícios que esteja saudável é que as issues fiquem abertas no máximo 7 dias.</p>
            </div>
        </div>
    </div>

{% endblock %}
