{% extends "base_login.html" %}

{% block title %}
    Cardinals
{% endblock %}

{% block head %}
    <!-- HEAD -->
{% endblock %}

{% block body %}
    {% if user.username %}

        <br><br>
        <div class="title-block">
            <h3 class="title"> 
                {{ user.username }}        
            </h3>
        </div>
        <br>
        <div class="row">
                <div class="col-12 col-md-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <div class="header-block">
                                <h2 class="title"> Meus Repositórios </h2>
                            </div>
                        </div>
                        <div class="card-block">
                                <div class="card items">    
                                <ul class="item-list striped"></ul>        
                                {% for full_name in repositories %}
                                            <li class="item">
                                                <div class="item-row">
                                                    <a href="/{{full_name}}/"> <h4 class=item-title>{{full_name}}</h4></a>
                                                </div>
                                            </li>   
                                {% endfor %}
                                </ul>
                                </div>            
                        </div>
                    </div>
                </div>
            
                <div class="col-12 col-md-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <div class="header-block">
                                <h2 class="title"> Minhas Organizações </h2>
                            </div>
                        </div>
                        <div class="card-block">
                            <ul>
                                {% for login in organizations %}
                                    <li><a href="/organization/{{login}}/"> {{login}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
    {% endif %}

{% endblock %}

{% block login %}
    {% if user.username %}
        <a href="{% url 'logout' %}">
            <button type="button" class="btn btn-primary btn-lg">
                <i class="fa fa-github"></i>
                Sair
            </button>
        </a>
    {% else %}
        <a href="{% url 'social:begin' 'github' %}">
            <button type="button" class="btn btn-primary btn-lg">
                <i class="fa fa-github"></i>
                Entrar
            </button>
        </a>
    {% endif %}
{% endblock %}