{% extends "base_login.html" %}

{% block title %}
    Cardinals
{% endblock %}

{% block head %}
    <!-- HEAD -->
{% endblock %}



{% block body %}
    {% if user.username %}
        <h3>Hello {{ user.username }}!</h3><br>


        <p>Meus repositórios</p>
        <ul>
            {% for row in repositories %}
                <li><a href="{{row.1}}"> {{row.0}}</a></li>
            {% endfor %}
        </ul>

        <p>Minhas organizações</p>
        <ul>
            {% for row in organizations %}
                <li><a href="{{row.1}}"> {{row.0}}</a></li>
            {% endfor %}
        </ul>

        <br><br>
        <a href="{% url 'logout' %}">Sign out</a><br>
    {% else %}
        <a href="{% url 'social:begin' 'github' %}">Login with GitHub</a><br>
    {% endif %}

{% endblock %}
