{% extends "base_login.html" %}

{% block title %}
    Cardinals
{% endblock %}

{% block head %}
    <!-- HEAD -->
{% endblock %}

{% block body %}
    {% if user.username %}
        {{ request.GET.param1 }}

        <br><br>
        <div class="title-block">
            <h2 class="title"> 
                {{ user.username }}        
            </h2>
            <br>
            <h3>{{login}}</h3>

        </div>
        <br>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="header-block">
                            <h3 class="title"> Meus Repositórios </h3>
                        </div>
                    </div>
                    <div class="card-block">
                        <section class="example">    
                            <table class="table table-inverse">
                                <tbody>
                                    <td>
                                        {% for full_name in repositories %}
                                            <a href="/{{full_name}}/"><h4 class=item-title>{{full_name}}</h4> </a>
                                        {% endfor %}
                                    </td>
                                </tbody>
                            </table>
                        </section>            
                    </div>
                </div>
            </div>
        </div>
        
    {% endif %}

{% endblock %}

        <br><br>
        <div class="title-block">
            <h2 class="title"> 
                {{ user.username }}        
            </h2>
        </div>
        <br>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="header-block">
                            <h3 class="title"> Meus Repositórios </h3>
                        </div>
                    </div>
                    <div class="card-block">
                        <section class="example">    
                            <table class="table table-inverse">
                                <tbody>
                                    <td>
                                        {% for repo in repositories %}
                                             <a href="{% url 'get_repo_info' repo.org repo.name %}"> <h4 class=item-title>{{repo.full_name}}</h4></a>
                                        {% endfor %}
                                    </td>
                                </tbody>
                            </table>
                        </section>            
                    </div>
                </div>
            </div>
        </div>
            