{% extends "base_login.html" %}

{% block title %}
    Cardinals
{% endblock %}

{% block head %}
    <!-- HEAD -->
{% endblock %}



{% block body %}
    {% if user.username %}
        {{ request.GET.param1 }}

        <h3>{{ user.username }}</h3><br><br>


        <p>{{login}}</p>
        <ul>
            {% for full_name in repositories %}
                <li><a href="/{{full_name}}/"> {{full_name}}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <a href="{% url 'social:begin' 'github' %}">Login with GitHub</a><br>
    {% endif %}

{% endblock %}
