<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400|Ubuntu:400,700" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <title>Cardinals</title>
    <script src="main.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand ml-4" href="#"><img src="img/logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBar" aria-controls="navBar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navBar">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Cadastro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
            </ul>
        </div>
    </nav>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row justify-content-center">
                    <h1>Cardinals</h1>
                </div>
                <div class="row justify-content-center">
                    <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <form action="resultado.html" method="post">
                <input type="email" class="form-grouo" id="login" placeholder="Usuario GitHub">
                <input type="password" class="form-grouo" id="password" placeholder="Senha GitHub">
                <button class="btn btn-danger btn-sm align-top">Iniciar</button>
            </form>
        </div>
    </div>
    
    <script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>