{% extends "base_index.html" %}

{% block body %}
<div id="page-wrapper-index">
    <div class="container">
        <div class="page-header">
            <h1>Commits</h1> 
        </div>
            <div class="row">
                <div clgitass="col-lg-12">
                    <table class="table table-dark">
                            <thead>
                                <tr>
                                    <th scope="col">Nome</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Data</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for q in commit_statuses %}
                                <tr>
                                    <td>{{q.commit.author.name}}</td>
                                    <td>{{q.commit.author.email}}</td>
                                    <td>{{q.commit.author.date}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                    </table>
             </div>
        </div>
    </div>
</div>
{% endblock %}